

*.user
graphics/.vs/
graphics/Graphics1/Debug/
graphics/Graphics1/x64/
graphics/x64/


game/imgui\.ini

game/external/x64/Release/Lua\.log

game/external/lua/lib/lua53\.lib

game/external/x64/Debug/Lua\.log
